/*master css file*/

@font-face {
    font-family: '28Days';
    src: url(fonts/28Days.ttf);
}
@font-face {
    font-family: 'holojacket';
    src: url(fonts/holojacket.ttf);
}
@font-face {
    font-family: 'djb';
    src: url(fonts/DJB.ttf);
}
@font-face {
    font-family: 'FlunkiesBB';
    src: url(fonts/FlunkiesBB.otf);
}

#welcomeImage {
    display: block;
    padding-top: 5px;
    margin-left: auto !important;
    margin-right: auto !important;
}
#welcomeTitle {
    text-align: center;
    margin-top: -25px;
    font-size: 55px;
    font-family: "28Days";
}
#welcomeSubTitle {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-family: "28Days";
}
#title {
    text-align: center;
    margin-top: -5px;
    font-size: 45px;
    font-family: "28Days";
}
#MainMenu {
    text-align: center;
    margin-top: 25px;
    font-size: 60px;
    font-family: "28Days";
}
#menuBtn {

    display: inline-block;
    padding:10px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    border-radius: 5px;
    background-color: black;
    font-family: julee, fantasy;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#editor {
    display: block;
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 5px;
    width: 65%;
    height: 200px;
}
#question {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-family: "FlunkiesBB";

}
#output {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: "FlunkiesBB"
}
#outputId {
    text-align: center;
    font-size: 15px;
    font-family: "FlunkiesBB"
}
.questionBtn {
    display: block;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    color: white;
    
}
#nextQuestion {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #000080;
    font-family: julee, fantasy;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
#execute {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #990000;
    font-family: julee, fantasy;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.well {
    height: 125px !important;
}
#homeImage {
    width:15%;
    height: 15%;
    margin-left: 25px;
    margin-bottom: -5px;
}
#exitImage {
    float: right;
    width:15%;
    height: 15%;
    margin-left: 25px;
    margin-bottom: -5px;
}
code {
    background-color: #e6e6e6 !important;

}