@font-face {
    font-family: '28Days';
    src: url(fonts/28Days.ttf);
}
@font-face {
    font-family: 'holojacket';
    src: url(fonts/holojacket.ttf);
}

body {
    
}
#welcomeImage {
    display: block;
    padding-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
}
#welcomeTitle {
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    font-size: 60px;
    font-family: "28Days";
}
#welcomeSubTitle {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 30px;
    font-family: "28Days";
}
#title {
    text-align: center;
    font-size: 40px;
    font-family: "28Days";
}
#MainMenu {
    text-align: center;
    margin-top: 25px;
    font-size: 60px;
    font-family: "28Days";
}
#menuBtn {
    padding: 20px;
    margin: 75px;
    color: white;
    border-radius: 5px;
    background-color: black;
    font-family: julee, fantasy;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#editor {
    display: block;
    margin-top: 5px;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 5px;
    width: 50%;
    height: 200px;
}
#question {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: julee, fantasy;
}
#output {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: julee, fantasy;
}
.questionBtn {
    display: block;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    color: white;
    
}
#nextQuestion {
    display: inline-block;
    position: relative;
    margin-left: 315px;
    margin-right: auto !important;
    background-color: blue;
    font-family: julee, fantasy;
}
#previousQuestion {
    display: inline-block;
    position: relative;
    margin-left: 325px;
    margin-right: auto !important;
    background-color: red;
    font-family: julee, fantasy;
}
#execute {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: green;
    font-family: julee, fantasy;
}
.well {
    height: 75px !important;
}


