<div class="fluid-container">
    <div class="row" ng-controller="TitleCtrl">
        <h1 id="title" name="title">{{title}}</h1>
    </div>
</div>
<div class="fluid-container">
    <div class="row" ng-controller="QuestionCtrl">
        <h1 id="question">
            {{questions}}
            
        </h1>
        <div id="centerButtons">
            <button class="btn questionBtn" id="nextQuestion" ng-click="randomNumber()"> Select Question</button>
        </div>
    </div>
</div>
<div class="fluid-container" ng-controller="EditorCtrl">
    <div class="row">
        <div id="editor" name="editor">

        </div>
        <button class="btn questionBtn" id="execute" ng-click="execute()">Execute</button>

        <div class="fluid-container">
            <div class="row">
                <h1 id="outputId">Here is where the output will go</h1>
            </div>
        </div>
        <div class="well well-lg col-md-8 col-md-offset-2">
            <code  id="output">  
                {{output}} 
            </code>
        </div>
    </div>
</div>
